html,body{
  text-align: center;
  padding: none;
  margin: none;
}
.header{
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: rgb(38, 37, 37);
  color: rgb(242, 190, 5);
  font-family: Schaeffer;
}

@@font-face {
  font-family: Schaeffer;
  src: url('fonts/Schaeffer.ttf');
}
.ctf{
  padding-top: 1%;
}
.form-control{
  padding-bottom: 1%;
}
.center{
  text-align: center;
}
.infoheaders{
  font-family: Schaeffer;
  
  background-color: rgb(38, 37, 37);
  padding-top: 1%;
  color: rgb(242, 190, 5);
}
.infodata{
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: rgb(182, 178, 178);
}
.ctr{
  padding: 1%;
}
